<!DOCTYPE html>
<html lang="ja">
<head>
  <meta conent='ja' http-equiv='Content-Language'>
  <meta charset='utf-8' conent='text/html' http-equiv='Content-Type'>
  <meta conent='text/css' http-equiv='Content-Style-Type'>
  <meta conent='text/javascript' http-equiv='Content-Script-Type'>
  <meta conent='no' http-equiv='Imagetoolbar'>
  <meta conent='My homepage' name='Description'>
  <meta conent='matsuda' name='Keywords'>
  <meta conent='matsuda' name='Author'>
  <title>matsuda</title>
  <link href="css/style.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="/javascripts/application.js?1297603668" type="text/javascript"></script>
</head>
<body>
  <header>
    <h1><img src="images/logo.png" alt="logo" width="100" heignt="98"></h1>
  </header>
  <article>
    <a href="http://github.com/matsuda"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
    <div id="wrapper">
      <ul>
        <li><a href="http://twitter.com/mtd"><img src="images/twitter.png" alt="twitter" width="40" height="40" onmouseover="this.src='images/twitter_bg.png'" onmouseout="this.src='images/twitter.png'" /></a></li>
        <li><a href="http://github.com/matsuda"><img src="images/github.png" alt="twitter" width="40" height="40" onmouseover="this.src='images/github_bg.png'" onmouseout="this.src='images/github.png'" /></a></li>
        <li><a href="http://dribbble.com/matsuda"><img src="images/dribbble.png" alt="dribbble" width="40" height="40" onmouseover="this.src='images/dribbble_bg.png'" onmouseout="this.src='images/dribbble.png'" /></a></li>
        <li><a href="http://blog.matsuda.me"><img src="images/tumblr.png" alt="tumblr" width="40" height="40" onmouseover="this.src='images/tumblr_bg.png'" onmouseout="this.src='images/tumblr.png'" /></a></li>
      </ul>
    </div>
  </article>
  <footer>
    <address><a href="mailto:">hi @ matsuda.me</a></address>
    <p>Made on a <a href="http://apple.com/"><img src="images/apple.png" alt="apple" width="22" height="22" /></a> products.</p>
    <p>Copyright &copy; 2011 matsuda All rights reserved.</p>
  </footer>
</body>
</html>
