<!DOCTYPE html>
<html lang="ja">
<head>
  <meta conent='ja' http-equiv='Content-Language'>
  <meta charset='utf-8' conent='text/html' http-equiv='Content-Type'>
  <meta conent='text/css' http-equiv='Content-Style-Type'>
  <meta conent='text/javascript' http-equiv='Content-Script-Type'>
  <meta conent='no' http-equiv='Imagetoolbar'>
  <meta conent='My homepage' name='Description'>
  <meta conent='matsuda' name='Keywords'>
  <meta conent='matsuda' name='Author'>
  <title>matsuda</title>
  <link href="css/style.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="/javascripts/application.js?1297603668" type="text/javascript"></script>
</head>
<body>
  <header>
    <h1><img src="images/logo.png" alt="logo" width="100" heignt="98"></h1>
  </header>
  <article>
    <div>
    <!-- <a href="http://github.com/matsuda"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a> -->
    <span><a href="http://twitter.com/_mtd_"><img src="images/twitter_alt.png" alt="twitter" width="32" height="32"></a></span>
    <span><a href="http://github.com/matsuda"><img src="images/github_alt.png" alt="github" width="32" height="32"></a></span>
    <span><a href="http://dribbble.com/matsuda"><img src="images/dribbble.png" alt="dribbble" width="32" height="32"></a></span>
    </div>
    <p><a href="mailto:hi@matsuda.me"><img src="images/mail.png" alt="mail" width="24" height="24"></a></p>
  </article>
  <footer>Copyright &copy; 2011 matsuda All rights reserved.</footer>
</body>
</html>